@import '../variables.css';


.courseLabel {
    font-weight: bold;
    padding-right: 5px;
}

.courseTitle{

}

.facultyLabel{

}

.facultyTitle{

}
.courseName{
  margin: 0;
  padding: 0;
  font-size: 17px;
}

.rootOpen {
  padding-bottom: 10px;
  padding-top: 5px;
  border-style: inset;
  background-color: #f7f7f7;
}

.rootClosed {
  padding-bottom: 10px;
  padding-top: 5px;
  border-style: inset;
}

.entry{
  font-weight: bold;
}

.container {
  margin: 0 auto;
  padding: 20px 15px;
  max-width: var(--max-content-width);
  text-align: center;
}

.text {
  color: rgba(255, 255, 255, 0.5);
}

.textMuted {
  composes: text;
  color: rgba(255, 255, 255, 0.3);
}

.spacer {
  color: rgba(255, 255, 255, 0.3);
}

.text,
.link {
  padding: 2px 5px;
  font-size: 1em;
}

.link,
.link:active,
.link:visited {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.link:hover {
  color: rgba(255, 255, 255, 1);
}
