@import '../variables.css';

:root {
  --brand-color: #5cd65c;
}

.root {
  background: #248f24;
  color: #fff;
}

.container {
  margin: 0 auto;
  padding: 10px 0;
  max-width: var(--max-content-width);
}

.brand {
  color: color(var(--brand-color) lightness(+10%));
  text-decoration: none;
  font-size: 1.75em; /* ~28px */
  text-shadow: 2px 2px #000000;
}

.brandTxt {
  margin-left: 10px;
}

.nav {
  float: right;
  margin-top: 6px;
}

.banner {
  text-align: center;
}

.bannerTitle {
  margin: 0;
  padding: 0px;
  font-weight: normal;
  font-size: 4em;
  line-height: 1em;
  text-shadow: 1px 1px #000000;
}

.bannerDesc {
  padding: 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.25em;
  margin: 0;
}
