@import '../variables.css';




.root {
  background: #333;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
}

.container {
  margin: 0 auto;
  padding: 20px 15px;
  max-width: var(--max-content-width);
  text-align: center;
}

.text {
  color: rgba(255, 255, 255, 0.5);
}

.textMuted {
  composes: text;
  color: rgba(255, 255, 255, 0.3);
}

.spacer {
  color: rgba(255, 255, 255, 0.3);
}

.text,
.link {
  padding: 2px 5px;
  font-size: 1em;
}

.link,
.link:active,
.link:visited {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.link:hover {
  color: rgba(255, 255, 255, 1);
}


@media screen and (max-height: 600px) {
.root {
  background: #333;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 5px;
}

.container {
  margin: 0 auto;
  padding: 10px 1px;
  max-width: var(--max-content-width);
  text-align: center;
}
}

@media screen and (max-height: 480px) {
.root {
  background: #333;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 2px;
}

.container {
  margin: 0 auto;
  padding: 5px 1px;
  max-width: var(--max-content-width);
  text-align: center;
}
}

@media screen and (max-height: 300px) {
.root {
  background: #333;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 0px;
}

.container {
  margin: 0 auto;
  padding: 0px 0px;
  max-width: var(--max-content-width);
  text-align: center;
}
}