@import '../../components/variables.css';

.root {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;

}

.container {

  margin: 0 auto;
  padding: 0 0 40px;
  max-width: var(--max-content-width);

}


.chart {
  left: -15%;
  position: relative;
}
