@import '../variables.css';

.root {
  background: #333;
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.container {
  margin: 0 auto;
  padding: 20px 15px;
  max-width: var(--max-content-width);
  text-align: center;
}

.text {
  color: rgba(255, 255, 255, 0.5);
}

.textMuted {
  composes: text;
  color: rgba(255, 255, 255, 0.3);
}

.spacer {
  color: rgba(255, 255, 255, 0.3);
}



.liist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 15px;
  padding-top: 10px;
}


.link:last-child {
  border: none;
}

.link {
  text-decoration: none;
  color: #000;
  display: block;


  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

.link:hover {
  background: #f1f1f1;
}