@import '../variables.css';

.root {
  background: #333;
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.container {
  margin: 0 auto;
  padding: 20px 15px;
  max-width: var(--max-content-width);
  text-align: center;
}

.text {
  color: rgba(255, 255, 255, 0.5);
}

.textMuted {
  composes: text;
  color: rgba(255, 255, 255, 0.3);
}

.spacer {
  color: rgba(255, 255, 255, 0.3);
}

.text,
.link {
  padding: 2px 5px;
  font-size: 1em;
}

.link,
.link:active,
.link:visited {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.link:hover {
  color: rgba(255, 255, 255, 1);
}

.registerForm{
  height:110px;
  width:190px;
  border: 1px #CCC solid;
  padding:10px;
  padding-bottom: 20px;
}

.registerForm input{
  padding: 5px;
  margin: 5px;
}


.buttonInput{
  padding-top: 5;
  padding-left: 10px;
  margin: 5px;
}
