.root {
  background: #248f24;
  color: #fff;
  min-height: 192px;
  width: 100%;

}

.container {
    margin: 0 auto;
    padding: 20px 0;
    
}

.angularImage {
  height: 50px;
  width: auto;
  float: left;
  margin-top: -10px;
  
}

.brand {
  text-decoration: none;
  font-size: 1.75em; /* ~28px */
  text-shadow: 2px 2px #000000;
  margin-top: -35px;
  

}

.brandTxt {
  margin-left: 10px;
}

.nav {
  float: right;
  margin-top: 0px;
}

.banner {
  text-align: center;
  margin-top: -2%;
}

.bannerTitle {
  margin: 0;

  padding: 10px;
  font-weight: normal;
  font-size: 4em;
  line-height: 1em;
  text-shadow: 1px 1px #000000;
}

.bannerDesc {
  padding: 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.25em;
  margin: 0;
}
